{% extends "layout.html" %}
{% block content %}

<!-- magnifier css -->
<link rel="stylesheet" type="text/css" href="{{url_for ('static', filename= 'magnifier.css')}}">

<!-- magnifier js -->
<script type="text/javascript" src="{{url_for ('static', filename= 'Event.js')}}"></script>
<script type="text/javascript" src="{{url_for ('static', filename= 'Magnifier.js')}}"></script>
<script type="text/javascript">
var evt = new Event();
var m = new Magnifier(evt);
{% if zoom %}
var zoom = {{zoom}};
{% endif %}
window.onload = function() {
  var evt = new Event();
  var m = new Magnifier(evt);
  m.attach({
      thumb: '#thumb-inside',
      large: "{{url_for ('static', filename= 'post_picture/' + post.msi)}}",
      mode: 'inside',
      zoom: zoom,
      zoomable: true
  });
};
</script>

<article class="media content-section">
    <div class="list-group">
      <img class = "rounded-circle article-img" src="{{url_for ('static', filename= 'profile_pics/' + post.author.image_file)}}">
      <br/>
      <a href="/viz/{{post.id}}/zoom/{{zoom+1}}"  class="m-0 list-group-item list-group-item-action">+</a>
      <a href="/viz/{{post.id}}/zoom/{{zoom-1}}" class="m-0 list-group-item list-group-item-action">-</a>
    </div>
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2 class= "article-title">{{ post.title }}</h2>
        {% if post.mask %}
        <div>
          <div class="magnifier-thumb-wrapper">
              <img class="img-fluid" alt="Responsive image" id="thumb-inside" src="{{url_for ('static', filename= 'post_picture/' + post.msi)}}" data-mode="inside" data-zoomable="true">
          <div id="thumb-inside-lens" class="magnifier-lens hidden" style="width: 67px; height: 52px; background: url(&quot;{{url_for ('static', filename= 'post_picture/' + post.msi)}}&quot;) -33px 0px no-repeat scroll; left: 42px; top: -18px;">
            <img class="img-fluid" alt="Responsive image" src="{{url_for ('static', filename= 'post_picture/' + post.msi)}}" id="thumb-inside-large" class="magnifier-large hidden"></div>
          </div>
        </div>
        {% endif %}
    </div>
    <a class="btn btn-primary" href="/post/{{post.id}}"> Back </a>
</article>

{% endblock content %}
