
{% extends "layout.html" %}
{% block content %}

<script>
  window.onload = function() {
      loading = function() {
          document.getElementById("loading").style = ""
      }
      document.getElementById("submit").addEventListener("click", loading);
  }

  window.changeColor = function(){
      document.getElementById("color1").value = document.getElementById("intact_color_picker").value;
      document.getElementById("color2").value = document.getElementById("degraded_color_picker").value;
      document.getElementById("color3").value = document.getElementById("backgorund_color_picker").value;
}

</script>
<head>
<style>
table, th, td {
  padding-right: 40px;
  padding-bottom: 10px;
}
table {
  border-spacing: 15px;
}
.color{
  background-color: "white";
  border: none;
  width: "12px";
  visibility: hidden;
}

.title_color{
    padding-bottom: 10px;
    font-size: large;
    font-weight: 600;
}
</style>
</head>

<div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br/>
                <br/>
                <br/>
                <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class= "text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                </div>

                <br/>
                <br/>
                <br/>
                <div class="title_color">Choose prediction color for each class:</div>
                <table>
                    <tr>
                    <td>Intact forest</td>
                    <td><input type="color" id="intact_color_picker" onchange="changeColor()" value="#064518" style="width:120px;"></td>
                    <td class="color">{{ form.color1(class="color")}}</td>
                    </tr>
                    <tr>
                    <td>Degraded forest</td>
                    <td><input type="color" id="degraded_color_picker" onchange="changeColor()" value="#DEDC93" style="width:120px;"></td>
                    <td class="color">{{ form.color2(class="color") }}</td>
                    </tr>
                    <tr>
                    <td>Background</td>
                    <td><input type="color" id="backgorund_color_picker" onchange="changeColor()" value="#A3A39B" style="width:120px;"></td>
                    <td class="color">{{ form.color3(class="color") }}</td>
                    </tr>
                    </table>
                <br/>
                <br/>
                <br/>
                <div class="form-group">
                    {{ form.country.label(class="form-control-label") }}
                    {% if form.country.errors %}
                        {{ form.country(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                </div>
            </fieldset>
            <div id="loading" style="display:none" class="alert alert-success" role="alert">
              <h4 class="alert-heading">Loading... <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></h4>
              <p>This process may take a while.</p>
              <hr>
              <p class="mb-0">Please do not close this tab!</p>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
