{% extends "layout.html" %}
{% block content %}

<!-- magnifier css -->
<link rel="stylesheet" type="text/css" href="{{url_for ('static', filename= 'magnifier.css')}}">

<!-- magnifier js -->
<script type="text/javascript" src="{{url_for ('static', filename= 'Event.js')}}"></script>
<script type="text/javascript" src="{{url_for ('static', filename= 'Magnifier.js')}}"></script>
<script type="text/javascript">
var evt = new Event();
var m = new Magnifier(evt);
{% if zoom %}
var zoom = {{zoom}};
{% endif %}
window.onload = function() {
  var evt = new Event();
  var m = new Magnifier(evt);
  m.attach({
      thumb: '#thumb-inside',
      large: "{{zoom_path}}",
      mode: 'inside',
      zoom: zoom,
      zoomable: true
  });
  document.getElementById("scale").innerHTML += Math.round(100/zoom) + " m²."
  image_style = "width:80px;height:80px;padding:5px;border:1px solid black;border-radius: 10px 10px 10px 10px;";
    {% if infra_style != "" %}
        document.getElementById("infra").style = image_style;
    {%endif %}
    {% if mask_style != "" %}
        document.getElementById("mask").style =image_style;
    {%endif %}
    {% if msi_style != "" %}
        document.getElementById("msi").style = image_style;
    {%endif %}
    {% if rgb_style != "" %}
        document.getElementById("rgb").style = image_style;
    {%endif %}
    {% if zoom_infra_style != "" %}
        document.getElementById("zoom_infra").style = image_style;
    {%endif %}
    {% if zoom_mask_style != "" %}
        document.getElementById("zoom_mask").style =image_style;
    {%endif %}
    {% if zoom_msi_style != "" %}
        document.getElementById("zoom_msi").style = image_style;
    {%endif %}
    {% if zoom_rgb_style != "" %}
        document.getElementById("zoom_rgb").style = image_style;
    {%endif %}
};

</script>


<article class="media content-section">
    <div class="list-group">
      <div style="width:220px;"></div>
      <div style="position: fixed;">
        <img class = "rounded-circle article-img" src="{{url_for ('static', filename= 'profile_pics/' + post.author.image_file)}}">
        <br/>
        <br/>
        <div> Zoom </div>
        <a href="/viz/{{post.id}}/img/{{img}}/zoom/{{zoom+1}}/img/{{zoom_id}}" style="width:50px;height:50px;" class="m-0 list-group-item list-group-item-action">+</a>
        <a href="/viz/{{post.id}}/img/{{img}}/zoom/{{zoom-1}}/img/{{zoom_id}}" style="width:50px;height:50px;" class="m-0 list-group-item list-group-item-action">-</a>
        <br/>
        <br/>
        <div class="container" style="width:220px;">
          <div class="row">
            <div class="p-0 col-sm-5">
              <div> Main image </div>
                <div style="padding:3px"></div>
              <a href="/viz/{{post.id}}/img/{{img+8}}/zoom/{{zoom}}/img/{{zoom_id}}">
                  <img id="infra" title="Infrared channels" src="/static/picture/infrared.PNG" class="{{infra_style}} m-0 list-group-item-action" style="width:80px;height:80px;padding:5px;">
              </a>
                <div style="padding:3px"></div>

              <a href="/viz/{{post.id}}/img/{{img+mask}}/zoom/{{zoom}}/img/{{zoom_id}}">
                  <img id="mask" title="Prediction" src="/static/picture/prediction.PNG" class="{{mask_style}} m-0 list-group-item-action" style="width:80px;height:80px;padding:5px;">
              </a>
                <div style="padding:3px"></div>
              <a href="/viz/{{post.id}}/img/{{img+msi}}/zoom/{{zoom}}/img/{{zoom_id}}">
                <img id="msi" title="Water Stress" src="/static/picture/water_stress.png" class="{{msi_style}} m-0 list-group-item-action" style="width:80px;height:80px;padding:5px;">
              </a>
                <div style="padding:3px"></div>
              <a href="/viz/{{post.id}}/img/{{img+rgb}}/zoom/{{zoom}}/img/{{zoom_id}}">
                <img id="rgb" title="Picture" src="/static/picture/RGB.PNG" class="{{rgb_style}} m-0 list-group-item-action" style="width:80px;height:80px;padding:5px;">
              </a>
            </div>
            <div class="p-0 col-md-5 offset-md-1">
              <div> Zoom image </div>
                <div style="padding:3px"></div>
              <a href="/viz/{{post.id}}/img/{{img}}/zoom/{{zoom}}/img/{{zoom_id+8}}">
                <img id="zoom_infra" title="Infrared channels" src="/static/picture/infrared.PNG" class="{{zoom_infra_style}} m-0 list-group-item-action" style="width:80px;height:80px;padding:5px">
              </a>
                <div style="padding:3px"></div>
              <a href="/viz/{{post.id}}/img/{{img}}/zoom/{{zoom}}/img/{{zoom_id+zoom_mask}}">
                <img id="zoom_mask" title="Prediction" src="/static/picture/prediction.PNG" class="{{zoom_mask_style}} m-0 list-group-item-action" style="width:80px;height:80px;padding:5px">
              </a>
                <div style="padding:3px"></div>
              <a href="/viz/{{post.id}}/img/{{img}}/zoom/{{zoom}}/img/{{zoom_id+zoom_msi}}">
                <img id="zoom_msi" title="Water Stress" src="/static/picture/water_stress.png" class="{{zoom_msi_style}} m-0 list-group-item-action" style="width:80px;height:80px;padding:5px">
              </a>
                <div style="padding:3px"></div>
              <a href="/viz/{{post.id}}/img/{{img}}/zoom/{{zoom}}/img/{{zoom_id+zoom_rgb}}">
                <img id="zoom_rgb" title="Picture" src="/static/picture/RGB.PNG" class="{{zoom_rgb_style}} m-0 list-group-item-action" style="width:80px;height:80px;padding:5px">

              </a>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <div class="m-0" style="width:220px">
          {% for kpi in kpis %}
          <div style="text-break"> {{kpi}} </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2 class= "article-title">{{ post.title }}</h2>
        <div>
          {% if msi_style !="" or zoom_msi_style != "" %}
            <div> Hydric stress: Lighter pixels indicate higher water stress in forests.  </div>
          {% endif %}
          {% if infra_style !="" or zoom_infra_style != "" %}
            <div> Infrared: Red hues show broadleaf or/and healthier vegetation. </div>
          {% endif %}
          {% if rgb_style !="" or zoom_rgb_style != "" %}
            <div> RGB: visualization alone does not allow detection of degradation patterns in tropical forests.  </div>
          {% endif %}
        </div>
        <div>
          <div class="magnifier-thumb-wrapper">
              <img class="img-fluid" alt="Responsive image" id="thumb-inside" src="{{img_path}}" data-mode="inside" data-zoomable="true">
        </div>
    </div>
    <p id="scale" class="font-italic article-content"> In the zoom window, a pixel corresponds to </p>
    <a class="btn btn-primary" href="/post/{{post.id}}"> Back </a>
</article>

{% endblock content %}
